* {
        font-family: "Courier New", monospace;
}


body {
        background-image: url(backgimg.jpg) ;
        font-size: 14pt;
}

#overall, #puzzlearea {
        width: 400px;
}

#controls {
        padding-top: 10px;
        text-align: center;

}

h1 {
        margin: 10px 0px;
        text-align: center;
}

h3, p {
        text-align: center;
}

button {

        margin: 10px;

}

/* Used to center the puzzle. */
#center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: white;
        border-style: outset;
        border-color: pink;
        border-width: thick;
        border-radius: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
}

/* The area that holds the 15 puzzle pieces. */
#puzzlearea {
        font-size: 32pt;
        height: 400px;
        padding: 0px;
        position: relative;
}



#w3c {
        text-align: right;
}

#w3c img {
        border: none;
}